In [133]:
import pandas as pd
df = pd.read_csv('heart.csv')#read the data file

In [134]:
df.shape

(918, 12)

In [135]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [147]:
df.FastingBS.unique()

array([0, 1], dtype=int64)

In [137]:
#preprocessing
#removing the outliers i.e zscore > 3

import scipy.stats as stats
df1=df[stats.zscore(df.iloc[:,4])<3]#Cholesterol 
df1.shape

(915, 12)

In [138]:
df2=df1[stats.zscore(df1.iloc[:,3])<3]#restingBP
df2.shape

(908, 12)

In [139]:
df3=df2[stats.zscore(df2.iloc[:,7])<3]#MaxHR
df3.shape

(908, 12)

In [140]:
df4=df3[stats.zscore(df3.iloc[:,9])<3]#Oldpeak
df4.shape

(902, 12)

In [141]:
df5=df4[stats.zscore(df4.iloc[:,5])<3]#fastingBS
df5.shape

(902, 12)

In [142]:
df6=df5[stats.zscore(df5.iloc[:,0])<3]#Age
df6.shape

(902, 12)

In [168]:
y=df6.HeartDisease
x=df6.iloc[:,0:11]
x

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up

In [170]:
#Encoding Categorical data

#labelencoding
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
x['RestingECG'] = labelencoder.fit_transform(x['RestingECG'])
x['ST_Slope'] = labelencoder.fit_transform(x['ST_Slope'])
x['ExerciseAngina'] = labelencoder.fit_transform(x['ExerciseAngina'])
x

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,1,172,0,0.0,2
1,49,F,NAP,160,180,0,1,156,0,1.0,1
2,37,M,ATA,130,283,0,2,98,0,0.0,2
3,48,F,ASY,138,214,0,1,108,1,1.5,1
4,54,M,NAP,150,195,0,1,122,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,1,132,0,1.2,1
914,68,M,ASY,144,193,1,1,141,0,3.4,1
915,57,M,ASY,130,131,0,1,115,1,1.2,1
916,57,F,ATA,130,236,0,0,174,0,0.0,1
917,38,M,NAP,138,175,0,1,173,0,0.0,2

In [171]:
#one hot encoding
import numpy as np
x=pd.get_dummies(x, columns=["Sex","ChestPainType"])

In [172]:
x

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,2,0,1,0,1,0,0
1,49,160,180,0,1,156,0,1.0,1,1,0,0,0,1,0
2,37,130,283,0,2,98,0,0.0,2,0,1,0,1,0,0
3,48,138,214,0,1,108,1,1.5,1,1,0,1,0,0,0
4,54,150,195,0,1,122,0,0.0,2,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,1,0,1,0,0,0,1
914,68,144,193,1,1,141,0,3.4,1,0,1,1,0,0,0
915,57,130,131,0,1,115,1,1.2,1,0,1,1,0,0,0
916,57,130,236,0,0,174,0,0.0,1,1,0,0,1,0,0
917,38,138,175,0,1,173,0,0.0,2,0,1,0,0,1,0

In [173]:
#scaling

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [174]:
#Clasification before applying PCA

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size = 0.2,random_state = 30)

model =  LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.850828729281768

In [175]:
#PCA

from sklearn.decomposition import PCA

pca = PCA(0.95)#retain 95% of info,variation,upto the system to decide on No of components(calculates new columns)
x_pca = pca.fit_transform(x_scaled)
x_pca.shape

(902, 12)

In [176]:
x_pca
pca.explained_variance_ratio_
pca.n_components_

12

In [177]:
#Clasification after applying PCA

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

x_train,x_test,y_train,y_test = train_test_split(x_pca,y,test_size = 0.2,random_state = 30)
model =  LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8397790055248618

In [178]:
#PCA with number of components specified explicity

pca = PCA(n_components=3)#retain 95% of info,variation,upto the system to decide on No of components(calculates new columns)
x_pca = pca.fit_transform(x_scaled)
x_pca.shape

(902, 3)

In [166]:
#Clasification after applying PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

x_train,x_test,y_train,y_test = train_test_split(x_pca,y,test_size = 0.2,random_state = 30)
model =  LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.850828729281768